<a href="https://colab.research.google.com/github/amwulfie-svg/BTE-3200/blob/main/InClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Inputs
sales = input("Enter sales ($): ")
sales = float(sales)

cogs_pct = input("Enter Cost of Goods (%): ")
cogs_pct = float(cogs_pct)

taxrate = input("Enter Tax Rate (%): ")
taxrate = float(taxrate)

# Processes: Calculate COGS and GP + Taxes and Net Income
cogs = sales * cogs_pct / 100
gp = sales - cogs

Taxes = gp*taxrate/100
Net_Income = (gp-Taxes)

#Outputs: display cogs and gp + Net Income and Taxes
print(f"Cost of Goods sold: ${cogs}")
print(f"Gross Profit: ${gp}")

print(Net_Income)
print(Taxes)

Enter sales ($): 12000
Enter Cost of Goods (%): 40
Enter Tax Rate (%): 30
Cost of Goods sold: $4800.0
Gross Profit: $7200.0
5040.0
2160.0

In [ ]:
# Inputs
demand = int(input("Enter demand (units/year): "))
reorder = float(input("Enter reorder cost ($/order): "))
holding = float(input("Enter holding cost $/unit/year): "))

#Process
eoq = (2 * demand * reorder / holding) ** (1/2)

#Output
print(f"EOQ: {eoq} units")

Enter demand (units/year): 1000
Enter reorder cost ($/order): 50
Enter holding cost $/unit/year): 10
EOQ: 100.0 units

In [ ]:
n1 = float(input("Enter number 1: "))
n2 = float(input("Enter number 2: "))
op = input('Enter operator: +,-,*,/,//,,**,%')

#Outputs:
if op == "+":
  res = n1 + n2
elif op == "-":
  res = n1 - n2
elif op == "*":
  res = n1 * n2
elif op == "/":
  res = n1 / n2
elif op == "//":
  res = n1 // n2
elif op == "**":
  res = n1 ** n2
elif op == "%":
  res = n1 % n2
else:
  res = None
  print("Invalid Operator")

if res is not None:
  print(f"total = {res}")

Enter number 1: 9
Enter number 2: 8
Enter operator: +,-,*,/,//,,**,%+
total = 17.0

In [ ]:
for hour in range(1,9):
  fee = 5 + 2.5 * hour

  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0

  print(hour, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
print("Ad ($) Profit ($)")
for ad in range(0,201,25):
  revenue = (20 + 2 * ad ** 0.5) * 10
  costs = 200 + ad
  profit = revenue - costs
  print(f"{ad},\t {round(profit)}")

Ad ($) Profit ($)
0,	 0
25,	 75
50,	 91
75,	 98
100,	 100
125,	 99
150,	 95
175,	 90
200,	 83

In [ ]:
numbers = []
num = float(input("Give a number: "))

while num != 0:
  numbers.append(num)
  num = float(input("Give another number: "))

numbers.sort(reverse=True)
print(numbers)
6
0

Give a number: 4
Give another number: 4
Give another number: 4
Give another number: 5
Give another number: 6
Give another number:

ValueError: could not convert string to float: ''

In [ ]:
# inputs

products = {
    'P-01' : 9.95,
    'P-02': 10.50
}


id = input('Enter product ID: ')
# or u can say print(f'ID: {id}, Price: {products[id]}$')
if id in products:
  print(products[id])
else:
    print(f'{id} not found')

Enter product ID: P-01
9.95

In [ ]:
def roi(cost: float, revenue: float) -> float:
  assert cost > 0, "The cost must be greater than 0"
  assert isinstance(cost,(int, float)), "Cost must be numerical"
  assert isinstance(revenue,(int, float)), "Revenue must be numerical"

  return (revenue - cost) / cost

if __name__ == "__main__":
  c = float(input("Enter cost value: "))
  r = float(input("Enter revenue value: "))
  retInvest = roi(c,r)
  print(retInvest)

In [ ]:
class ATM:
  def __init__(self, first, last):
    self.first = first
    self.last = last

  def __str__(self):
    return "Instance of Class Greeting"

  def display(self, reverse=True):
    if reverse:
      print(f'{self.last}, {self.first}')
    else:
      print(self.first)

name = Greeting('John', 'Doe')
print(name)
name.display()
name.display(reverse=False)

In [ ]:
#student class

class Student:
    def __init__(self, name, number):
        self.__name = name
        self.__number = number
        self.__courses = []

    def getName(self):
        return self.__name

    def getCourses(self):
        return self.__courses

    def setName(self, new_name):
        self.__name = newname

    def __len__(self):
        return len(self.__courses)

    def enroll(self, course):
        if course in self.__courses:
          print('You have already enrolled in', course)
        else:
           self.__courses.append(course)